{% extends "layout.html" %}
{% block title %}Оплата і доставка – AnimeShop{% endblock %}
{% block body_class %}bg-payment{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="mb-4">Оплата і доставка</h2>
    <h5>Оплата:</h5>
    <ul>
        <li>Оплата карткою через LiqPay або WayForPay</li>
        <li>Накладений платіж при отриманні</li>
        <li>Оплата готівкою при самовивозі (Київ)</li>
    </ul>

    <h5>Доставка:</h5>
    <ul>
        <li>Нова Пошта – по всій Україні</li>
        <li>Самовивіз з нашого офісу (Київ)</li>
        <li>Міжнародна доставка (ЄС) – за домовленістю</li>
    </ul>
</div>
{% endblock %}
